変数にデータを入れる (代入する)

In [ ]:
score = 85  # score という箱に 85 を入れる
name = "田中"  # name という箱に "田中" を入れる

# 変数の中身を表示する
print(score)  # 85 が表示される
print(name)   # 田中が表示される

変数の値を変更する

In [ ]:
print("1回目のテスト:", score)  # 1回目のテスト: 85
# 同じ変数に新しい値を代入
score = 92
print("2回目のテスト:", score)  # 2回目のテスト: 92

name = "山田"
print("以前の名前:", name)  # 以前の名前: 山田
name = "鈴木"
print("新しい名前:", name)  # 新しい名前: 鈴木

変数を使って平均点を計算する

In [ ]:
math_score = 85
english_score = 92
total = math_score + english_score  # 合計点
average = total / 2  # 平均点
print("平均点:", average)  # 平均点: 88.5

日本語の変数名でも一応書ける (非推奨)

In [ ]:
なまえ = "山田"
print(なまえ)  # 山田

値が入っていない変数を使うと例外になる

In [ ]:
print(undefined_score)  # NameError: name 'undefined_score' is not defined

色々なデータ型

In [ ]:
# 整数型 （int）
age = 16
year = 2024

# 小数型 （float）
height = 170.5
weight = 58.3

# 文字列型 （str）
name = "鈴木"
message = "今日は晴れです"

# データ型を確認するには type() を使う
print(type(age))  # <class 'int'>
print(type(height))  # <class 'float'>
print(type(name))  # <class 'str'>

整数型の例

In [ ]:
students = 40  # クラスの人数
score = 85  # テストの点数
year = 2024  # 西暦

# 整数の計算
total = students + 5  # 足し算
double = score * 2  # 掛け算

小数型の例

In [ ]:
height = 170.5  # 身長 (cm)
weight = 58.3  # 体重 (kg)

# 小数の計算
bmi = weight / (height / 100) ** 2  # BMI の計算
average = (80.5 + 92.0 + 88.5) / 3  # 平均点の計算

# その他の例
temperature = 22.8  # 気温 (度)
price = 1200.50  # 価格 (円)

文字列型の例

In [ ]:
name = "山田太郎"  # 名前
message = "こんにちは"  # メッセージ
address = "東京都渋谷区"  # 住所

# 文字列の連結
full_message = "こんにちは、" + name + "さん"
print(full_message)  # こんにちは、山田太郎さん

様々な変数の型を確認する

In [ ]:
age = 16
height = 170.5
name = "鈴木"

print(type(age))  # <class 'int'>
print(type(height))  # <class 'float'>
print(type(name))  # <class 'str'>

データ型の違いによる計算の例

In [ ]:
print(5 / 2)  # 2.5 （小数の割り算）
print(5 // 2)  # 2 （整数の割り算）
print("ABC" * 3)  # ABCABCABC （文字列の繰り返し）

変数名の付け方の良い例

In [ ]:
student_name = "山田"  # 生徒の名前
test_score = 85  # テストの点数
total_price = 1200  # 合計金額
first_name = "太郎"  # 名前（氏名の一部）
birth_year = 2007  # 生まれた年

変数名の付け方の悪い例

In [ ]:
なまえ = "山田"      # 日本語は避ける
test score = 85    # スペースは使えない
1st_place = "金賞"  # 数字から始まれない
if = "条件"         # 予約語は使えない
$price = 100       # 記号は使えない （ _ 以外）

具体的な名前をつける

In [ ]:
# 悪い例
x = 85  # x が何を表すのか分からない
n = "山田"  # n が何を表すのか分からない

# 良い例
math_score = 85  # 数学の点数だと分かる
student_name = "山田"  # 生徒の名前だと分かる

複数の単語は _（アンダースコア）でつなぐ

In [ ]:
# 推奨される書き方 （スネークケース）
user_age = 16
total_score = 85
average_height = 170.5

# スペースは使えません
user age = 16  # エラーになる

省略しすぎない

In [ ]:
# 悪い例 （意味が分かりづらい）
num = 30  # number の意味？ count の意味？
calc = 85 + 90  # calculation? calculator?

# 良い例 （分かりやすい）
student_count = 30
total_score = 85 + 90

成績管理プログラムの例

In [ ]:
student_name = "山田太郎"  # 生徒の名前
math_score = 85  # 数学の点数
english_score = 92  # 英語の点数
total_score = math_score + english_score  # 合計点
average_score = total_score / 2  # 平均点

買い物プログラムの例

In [ ]:
item_name = "リンゴ"  # 商品名
unit_price = 120  # 1個の値段
quantity = 5  # 個数
total_price = unit_price * quantity  # 合計金額

文字列の連結

In [ ]:
first = "山田"
last = "太郎"
full_name = first + last
print(full_name)  # 山田太郎

# スペースを入れて連結
full_name = first + " " + last
print(full_name)  # 山田 太郎

# 文字列と数値を連結する時は str() で変換が必要
age = 16
message = "私は" + str(age) + "歳です"
print(message)  # 私は16歳です

文字列の繰り返し

In [ ]:
star = "★"
print(star * 3)  # ★★★
print("わくわく" * 2)  # わくわくわくわく

# 装飾的な使い方
print("=" * 20)  # ====================
print("Hello!")  # Hello!
print("=" * 20)  # ====================

文字列の長さを調べる

In [ ]:
message = "こんにちは"
print(len(message))  # 5

name = "山田 太郎"  # スペースも 1 文字として数えます
print(len(name))  # 5

english = "Hello!"
print(len(english))  # 6

文字列から一部を取り出す

In [ ]:
text = "Python"
print(text[0])  # P （最初の文字）
print(text[1])  # y （2番目の文字）
print(text[-1])  # n （最後の文字）

# スライスで範囲を指定して取り出す
print(text[0:2])  # Py （0 番目から 2 番目の手前まで）
print(text[2:4])  # th （2 番目から 4 番目の手前まで）
print(text[:3])  # Pyt （最初から 3 番目の手前まで）
print(text[2:])  # thon （2 番目から最後まで）

文字列の検索と置換

In [ ]:
# 文字列の検索
text = "私は Python が好きです"
print("Python" in text)  # True （含まれているか確認）
print(text.find("Python"))  # 3 （出現位置。見つからない場合は -1）
print(text.find("JavaScript"))  # -1 （見つからないので -1）

# 文字列の置換
message = "私はりんごが好きです"
new_message = message.replace("りんご", "バナナ")
print(new_message)  # 私はバナナが好きです

よく使う文字列メソッド

In [ ]:
# あえて左右に空白を入れています
text = "  Hello, Python!  "

# 空白の削除
print(text.strip())  # "Hello, Python!" (前後の空白を削除)

# 大文字・小文字の変換
print(text.upper())  # "  HELLO, PYTHON!  " (大文字に)
print(text.lower())  # "  hello, python!  " (小文字に)

# 文字列の分割
words = "りんご,バナナ,オレンジ"
fruit_list = words.split(",")  # ["りんご", "バナナ", "オレンジ"]

実践的な文字列操作の例

In [ ]:
# ユーザー名とパスワードの作成
username = "yamada_taro"
domain = "example.com"
email = username + "@" + domain  # メールアドレスの作成
print(email)  # yamada_taro@example.com

# 整形された出力の作成
name = "山田太郎"
score = 85
result = f"{name}さんの点数は{score}点です"
print(result)  # 山田太郎さんの点数は85点です

# ファイル名から拡張子を取り出す
filename = "report.pdf"
extension = filename[-4:]  # 後ろから 4 文字を取得
print(extension)  # .pdf

型変換が必要なケース

In [ ]:
score = 85
message = "得点は" + score + "点です"  # エラー！
# TypeError: can only concatenate str (not "int") to str

型変換をしたケース

In [ ]:
score = 85
message = "得点は" + str(score) + "点です"  # 得点は85点です

文字列を数値に変換

In [ ]:
# 文字列 → 整数 int()
age_str = "16"
age_num = int(age_str)  # 文字列を整数に変換
print(age_num + 1)  # 17 (計算ができる)

# 文字列 → 小数 float()
height_str = "170.5"
height_num = float(height_str)  # 文字列を小数に変換
print(height_num + 1)  # 171.5 (計算ができる)

数値を文字列に変換

In [ ]:
# 数値 → 文字列 str()
score = 85
score_str = str(score)  # 数値を文字列に変換
message = "得点は" + score_str + "点です"
print(message)  # 得点は85点です

# 小数 → 文字列 str()
height = 170.5
height_str = str(height)  # 小数を文字列に変換
print("身長は" + height_str + "cmです")  # 身長は170.5cmです

整数と小数の変換

In [ ]:
# 小数 → 整数 (小数点以下切り捨て)
height = int(170.8)  # 170
price = int(1200.9)  # 1200

# 整数 → 小数
count = float(80)  # 80.0
rate = float(100)  # 100.0

具体的な型変換の例

In [ ]:
# 入力された文字列を数値として計算
height_str = "170.5"
weight_str = "60.2"

height = float(height_str)
weight = float(weight_str)

# BMI の計算
bmi = weight / (height / 100) ** 2
# 小数点第 1 位まで表示
print("BMI:", round(bmi, 1))  # BMI: 24.2

# 計算結果を文字列として整形
result = f"身長 {height} cm, 体重 {weight} kg の BMI は {round(bmi, 1)} です"
print(result)  # 身長 170.5cm, 体重60.2kg の BMI は 24.2 です

ユーザー入力の処理

In [ ]:
# ユーザーからの入力は常に文字列として扱われます
# 実際のプログラムでは input() を使って、ユーザーからの入力を受け取ります
age_str = "16"
age = int(age_str)
next_year = age + 1
print(f"来年は{next_year}歳になります")  # 来年は17歳になります

データの表示整形

In [ ]:
score = 85
total = 100
rate = score / total * 100
message = f"得点率は {str(round(rate, 1))}% です"
print(message)  # 得点率は 85.0% です

複数の型変換を組み合わせる

In [ ]:
# 文字列の小数を整数に変換
price_str = "1200.8"
price = int(float(price_str))  # 一度 float に変換してから int に変換
print(price)  # 1200

真偽値の基本

In [ ]:
is_student = True  # はい、学生です
has_pet = False  # いいえ、ペットは飼っていません

print(type(is_student))  # <class 'bool'>

数値の比較

In [ ]:
age = 16
print(age > 15)  # True （15 より大きい）
print(age < 20)  # True （20 より小さい）
print(age == 16)  # True （16 と等しい）
print(age != 18)  # True （18 と異なる）
print(age >= 16)  # True （16 以上）
print(age <= 16)  # True （16 以下）

テストの合否判定

In [ ]:
score = 85
pass_score = 70

is_passed: bool = score >= pass_score
print("合格ですか？:", is_passed)  # True

# 点数の範囲チェック
is_excellent: bool = score >= 90
is_good: bool = score >= 80 and score < 90
is_average: bool = score >= 70 and score < 80

print("優秀な成績ですか？:", is_excellent)  # False
print("良い成績ですか？:", is_good)  # True
print("平均的な成績ですか？:", is_average)  # False

文字列の比較

In [ ]:
name = "山田"
print(name == "山田")  # True （完全に一致）
print(name != "田中")  # True （異なる）

# 文字の大小比較 （辞書順）
print("apple" < "banana")  # True （アルファベット順）
print("山田" < "田中")  # True （50 音順）

複数の条件を組み合わせる

In [ ]:
age = 16
score = 85

# and （両方の条件が True なら True）
is_eligible = age >= 15 and score >= 80
print("参加資格がありますか？:", is_eligible)  # True

# or （どちらかの条件が True なら True）
needs_support = score < 60 or age < 15
print("サポートが必要ですか？:", needs_support)  # False

# not （条件を逆転させる）
is_adult = age >= 18
is_child = not is_adult
print("子供ですか？:", is_child)  # True

真偽値の計算例

In [ ]:
age = 16
score = 85
print(age > 15 and score < 90)  # True
print(age == 18 or score >= 80)  # True
print(not (age < 15))  # True

実際のプログラムでの使用例

In [ ]:
# 映画の年齢制限チェック
age = 16
movie_rating = 15
can_watch = age >= movie_rating
print("映画を見られますか？:", can_watch)  # True

# 商品の在庫チェック
stock = 5
min_stock = 3
needs_restock = stock <= min_stock
print("在庫の補充が必要ですか？:", needs_restock)  # False

# クーポン使用の条件チェック
purchase_amount = 3000
is_member = True
can_use_coupon = purchase_amount >= 2000 and is_member
print("クーポンは使用できますか？:", can_use_coupon)  # True

成績管理プログラムの例

In [ ]:
# 生徒の情報を変数で管理
name: str = "山田太郎"
grade: int = 2
class_number: str = "A"
math_score: int = 92
english_score: int = 78
is_passed: bool = True

# 情報を整形して表示
print("=== 成績情報 ===")
print("名前：" + name)
print("学年：" + str(grade))
print("クラス：" + class_number)
print("数学：" + str(math_score) + "点")
print("英語：" + str(english_score) + "点")
print("合格：" + str(is_passed))

# 平均点の計算と判定
total = math_score + english_score
average = total / 2
is_excellent = average >= 90

print("合計点：" + str(total) + "点")
print("平均点：" + str(average) + "点")
print("優秀者：" + str(is_excellent))

f-strings を使った表示方法

In [ ]:
print(f"=== {name}の成績情報 ===")
print(f"学年：{grade}年{class_number}組")
print(f"数学：{math_score}点")
print(f"英語：{english_score}点")
print(f"平均：{average:.1f}点")  # 小数点 1 桁まで表示

商品情報の管理

In [ ]:
product_name: str = "ノート"
price: int = 280
quantity: int = 25
tax_rate: float = 0.10
is_available: bool = True

# 在庫金額の計算
total_price: int = price * quantity
tax_amount: float = total_price * tax_rate
total_with_tax: float = float(total_price) + tax_amount

# 在庫状況の判定
is_low_stock: bool = quantity < 20
needs_reorder: bool = quantity <= 10

# 情報の表示
print(f"【商品情報】")
print(f"商品名：{product_name}")
print(f"単価：{price}円")
print(f"在庫数：{quantity}個")
print(f"在庫金額：{total_price}円")
print(f"消費税：{tax_amount}円")
print(f"税込金額：{total_with_tax}円")
print(f"販売可能：{is_available}")
print(f"在庫少：{is_low_stock}")
print(f"要発注：{needs_reorder}")

f-strings の便利な機能

In [ ]:
price: int = 1234567
rate: float = 3.14159

print(f"価格：{price:,}円")  # カンマ区切り
print(f"比率：{rate:.2f}")  # 小数点 2 桁まで
print(f"名前：{'山田':10}さん")  # 10 文字分の空白確保

名前と年齢を入力し、「あなたは ◯ 歳です」と表示するプログラム

In [ ]:
# input() 関数を使ってキーボードから入力を受け取る
name = input("お名前を入力してください：")
age: str = input("年齢を入力してください：")

# 入力された年齢は文字列なので、計算するときは数値に変換する
age_num = int(age)

print("こんにちは、" + name + "さん！")
print("あなたは" + age + "歳です")
print("来年は" + str(age_num + 1) + "歳になりますね")

# f-strings を使うと、もっと簡潔に書けます。自動で str に変換してくれます。
print(f"こんにちは、{name}さん！")
print(f"あなたは{age}歳です")
print(f"来年は{age_num + 1}歳になりますね")

2 つの数字を入力し、その合計を「◯ + ◯ = ◯」と表示するプログラム

In [ ]:
num1 = input("1 つ目の数字を入力してください：")
num2 = input("2 つ目の数字を入力してください：")

num1 = int(num1)
num2 = int(num2)

sum_result = num1 + num2
print(f"{num1} + {num2} = {sum_result}")